/*****************************************************************************/
/* Containers
/*****************************************************************************/

body, html {
  background-color: #333;
  height: 100%;
  margin: 0;
}

.flexContainer {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: center;
}

.content {
  color: #EC407A;
  font-family: Raleway, sans-serif;
  font-size: .9em;
  line-height: 1.4em;
  text-align: justify;
  text-justify: auto;
  width: 30em;
}

.links {
  color: #5BBDF2;
  font-family: Raleway, sans-serif;
  font-size: .88em;
  letter-spacing: 0.3em;
  line-height: 1.4em;
  margin: 1.5em auto 0;
  text-align: center;
}


/*****************************************************************************/
/* Text
/*****************************************************************************/

h1 {
  font-family: "Michroma", sans-serif;
  font-size: 1.9em;
  font-weight: normal;
  letter-spacing: 0.075em;
  margin-bottom: 0.8em;
}

strong { font-weight: bold; }


/*****************************************************************************/
/* Links and images
/*****************************************************************************/

a:link, a:visited {
  color: #5BBDF2;
  text-decoration: none;
}

a:hover { color: #B4D8EB; }

.smiley {
  height: 1em;
  margin: 0 0.3em;
  width: 1em;
}


/*****************************************************************************/
/* Mobile-display overrides
/*****************************************************************************/

@media screen and (max-width: 35em) {
  .content { width: 89%; }
  .links    { letter-spacing: initial; }
}
